.title-bar
{
    background: rgb(52,152,219);
    height: 48px;
    font-size: 24px;
    margin: 0px;
    padding-top: 0px;
    position: fixed;
    width: 100%;
    z-index: 1;
    box-shadow: 0px 3px 9px #888888;
}

.title-bar-text
{ 
    padding: 8px;
}

.page-backgroud
{
    background: rgb(237, 237, 237);
    padding: 0em;
}

.restaurant-cards-list-view
{
    position: relative;
    top: 80px;
    padding: 1em;
}

.restaurant-card-image-holder{
    display: table-cell;
    padding: 5px;
}

.restaurant-card-image
{
    height: 75px;
    padding: 2px;
}

.restaurant-name
{ 
    color: black;
    vertical-align: top;
    font-size: 26px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
}

.restaurant-card{
    height: 150px;
}

.restaurant-card-row
{
    display: table-row;
}

.restaurant-card-cell
{
    display: table-cell;
    text-align: left;
    vertical-align: top;
    padding: 10px;
}

.restaurant-offers{
    display: table-row;
}

.restaurant-card-content{
    color: rgb(126, 128, 131);
    background: white;
    /*border: black;*/
    border-width: 1px;
    border-radius: 7px;
    height: 100%;
    margin: 10px;
    /*border-style: solid;*/
    box-shadow: 0px 0px 3px #888888;
}

.favourite-icon-holder
{
    position: absolute;
    right: 10px;
}

.cuisine-li
{
    font-size: 18px;
    position: relative;
    left: 10px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
}

.distance-li{
    font-size: 18px;
    position: relative;
    left: 10px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    vertical-align: top;
    height: 21px;
}

.distance-value
{
    width: 80px;
    display: inline-block;
    vertical-align: inherit;
    padding-left: 10px;
}
